* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../image/9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
  footer p {
  margin: 0;
  }

.container {
  width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  font: bold;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.form-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-links a {
  color: #007bff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.form-links a:hover {
  color: #0069d9;
}
  
.form-control .error {
  color: rgba(255, 0, 0, 0.8);
  font-size: 12px;
  position: absolute;
}

.form-control label.must:after {
  content: ' *';
  color: rgba(255, 0, 0, 0.8);
  font-size: 100%;
}

span#password-strength {
  font-size: 12px;
}

.weak {
  background: rgba(255, 0, 0, 0.8);
  display: inline-block;
  width: 70px;
  text-align: center;
  margin: 4px 2px;
  font-size: 12px;
}
.medium {
  background: #FF9900;
  display: inline-block;
  width: 70px;
  text-align: center;
  margin: 4px 2px;
  font-size: 12px;
}
.strong {
  background: #6de125;
  display: inline-block;
  width: 70px;
  text-align: center;
  margin: 4px 2px;
  font-size: 12px;
}
.strength {
  display: inline-block;
  width: 70px;
  background: #ddd;
  text-align: center;
  margin: 4px 2px;
  font-size: 12px;
}

select {
  color: rgb(158, 158, 158);
}

option:enabled {
  color: black;
}

input#birthday {
  color: rgb(158, 158, 158);
}

input[type="date"] {
  font-family: Arial, sans-serif;
}

div.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input#captcha {
  width: 70%;
}