/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Style for the header section */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

nav ul {
	display: flex;
	list-style: none;
  align-items: baseline;
}

nav li button {
	color: #fff;
	border: none;
	padding: 5px 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

nav li {
	margin-left: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

nav li a.unshow {
  display: none;
}

nav li a.show {
  display: block;
}

form {
  display: flex;
  flex-direction: row;
}

form input[type="text"] {
	padding: 5px;
	border: none;
	border-radius: 3px;
}

form button {
	
	color: #fff;
	border: none;
	padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

/* Style for the slider section */
.slider {
	display: flex;
	overflow-x: scroll;
}

.slider a {
	margin-right: 10px
}


.slider img {
max-height: 200px;
max-width: auto;
}

/* Style for the main content section */
.content {
padding: 20px;
max-width: 800px;
margin: 0 auto;
}

.content h1 {
font-size: 36px;
margin-bottom: 10px;
}

.content p {
font-size: 16px;
line-height: 1.5;
}

/* Style for the footer section */
footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}

footer p {
margin: 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
header {
flex-direction: column;
text-align: center;
}
nav {
    margin-top: 10px;
}

form {
    margin-top: 10px;
}

.content {
    padding: 10px;
}

.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 14px;
}
}    
/* Style for the slider section */
/*
.slider {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider img.active {
  opacity: 1;
}*/

.results {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.results {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.result {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.result img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}
.result {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10
} 

#logged-in {
  display: none;
}

#logged-out {
  display: block;
}