/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Style for the header section */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

nav ul {
	display: flex;
	list-style: none;
  align-items: baseline;
}

nav li button {
	color: #fff;
	border: none;
	padding: 5px 10px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

nav li {
	margin-left: 20px;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

nav li a.unshow {
  display: none;
}

nav li a.show {
  display: block;
}

form {
  display: flex;
  flex-direction: row;
}

form input[type="text"] {
	padding: 5px;
	border: none;
	border-radius: 3px;
}

form button {
	
	color: #fff;
	border: none;
	padding: 5px 10px;
  background-color: royalblue;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

/* Style for the slider section */
.slider {
	display: flex;
	overflow-x: scroll;
}

.slider a {
	margin-right: 10px
}


.slider img {
max-height: 200px;
max-width: auto;
}

/* Style for the main content section */
.content {
padding: 20px;
max-width: 800px;
margin: 0 auto;
}

.content h1 {
font-size: 36px;
margin-bottom: 10px;
}

.content p {
font-size: 16px;
line-height: 1.5;
}

/* Style for the footer section */
footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}

footer p {
margin: 0;
}

/* Media query for responsive design */
@media (max-width: 768px) {
/* header {
flex-direction: column;
text-align: center;
} */
/* nav {
    margin-top: 10px;
} */

/* form {
    margin-top: 10px;
} */

.content {
    padding: 10px;
}

.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 14px;
}
}    


#logged-in {
  display: none;
}

#logged-out {
  display: block;
}
 
.banner {
  width: 600px;
  margin: auto;
  /* border: 10px solid greenyellow; */
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* line-height: 400px; */
  /* text-align: center; */
}

.imgList {
  list-style: none;
  /* width: 2480px; */
  position: absolute;
  /* left:-620px; */

}

.imgList img {
  width: 600px;
  height: auto;  
}

.imgList li {
  float: left;
  margin-right: 20px;
}
 
.circle {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.circle a {
  width: 15px;
  height: 15px;
  background: royalblue;
  display: block;
  border-radius: 50%;
  opacity: .5;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.circle a.hover {
  background: white;
  opacity: .8;
}

.img-info {
  padding: 10px 5px;
  color: #000;
  background-color: #fff;
  opacity: .6;
  margin-top: 20px;
  margin-left: 10px;
  height: 360px;
  width: 100px;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.results {
  margin-top: 10px;
  margin-bottom: 30px;
  /* display: grid; */
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

.result {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.result img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}
.result {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.result .description {
  overflow:hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.popular {
  display: flex;
  justify-content: space-between;
}

button#refresh {
  color: #fff;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  /* position: absolute; */
  /* right: 0; */
  /* top: 550px; */
}